/* -----------------All marging and padding start adjustment */
*{
    margin: 0;
    padding: 0;
}

/* ---------------------Header Style-------------------- */
header{
    background-color: rgb(15,15,15);
    color: white;
    display: flex;
    gap: 5%;
    justify-content: space-between;
    align-items: center;
    height: 10dvh;

}

/* -------------------Logo and name style------------- */
.logoandtitle{
    display: flex;
    align-items: center;

    h2{
        font-family: "Montserrat", sans-serif;
    }
    img{
        width: 10dvh;
        height: 10dvh;
    }
}
/* ----------------------Navbar style--------------------*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
}

.navbar a{
    color: whitesmoke;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: larger;
    text-align: center;
    white-space: nowrap;
    padding: 5px;
}

.navbar a:hover{
    background-color: rgb(200, 16, 46);
    border-radius: 0.5rem;  
}

/* ----------------------Footer style-------------------------*/
footer{
    background-color: rgb(26,26,26);
    height: 10dvh;
    display: flex;
    justify-content: space-between;
    
    a {
        text-decoration: none;
        font-size: large;
        color: lightgray;
        padding: 3px;
    }
    a:hover{
        background-color: rgb(200, 16, 46);
        border-radius: 0.5rem;  
    }
    .footerlinks{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        margin-left: 8px;
    }

    p{
        color: lightgrey;
        text-align: center;
    }
}

/* ------------------main content style------------------ */

main{
    height: 80%;
    h1{
        font-family: "Montserrat", sans-serif;
        color: rgb(200, 16, 46);
        font-weight: 900;
    }
}

/* ---------------------Home Intro Style------------------- */
.homeintro{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vh;
    margin-top: 5vh;
    padding: 5vh 10%;
    text-align: justify;
    background-color: whitesmoke;
    border-radius: 1rem;

    img{
        width: 45dvw;
        height: auto;
        border-radius: 1rem;
    }

    p{
        font-family: "Open Sans", sans-serif;
        font-size: large;
        color: rgb(50,50,50);
    }
}

/* ------------------Topics tile Style------------------- */
.topics{
    text-align: center;
    margin-top: 5vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    color: rgb(200, 16, 46);
}

.timetable{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 2vh 10%;
    
    img{
        width: 50dvw;
        height: auto;
        border-radius: 1rem;
    }
}

/* ------------------We Want You Section------------------- */
.wewantyou{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 2vh 10%;
    gap: 2vh;
    
    h3{
        font-family: "Montserrat", sans-serif;
        color: rgb(200, 16, 46);
        font-weight: 900;
    }
    
    p{
        font-family: "Open Sans", sans-serif;
        font-size: large;
        color: rgb(50,50,50);
        text-align: justify;

    }

    img{
        width: 50dvw;
        height: auto;
        border-radius: 1rem;
    }
}


/* ------------------Facilities Pictures Style------------------- */
.gympictures{
    display: flex;
    gap: 2vw;
    justify-content: center;
    background-color: whitesmoke;
    padding: 2vh 5%;
    border-radius: 1rem;

    img{
        width: 30dvw;
        height: auto;
        border-radius: 1rem;
    }
  
}

/* gym address */
.gymaddress{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    margin-top: 2vh;
    margin-bottom: 1vh;
    background-color: whitesmoke;
    border-radius: 1rem;
    
    p{
        font-family: "Open Sans", sans-serif;
        font-size: larger;
        color: rgb(50,50,50);
    }

}