/* -----------------All marging and padding start adjustment */
*{
    margin: 0;
    padding: 0;
}

/* ---------------------Header Style-------------------- */
header{
    background-color: rgb(15,15,15);
    color: white;
    display: flex;
    gap: 5%;
    justify-content: space-between;
    align-items: center;
    height: 10dvh;

}

/* -------------------Logo and name style------------- */
.logoandtitle{
    display: flex;
    align-items: center;

    h2{
        font-family: "Montserrat", sans-serif;
    }
    img{
        width: 10dvh;
        height: 10dvh;
    }
}
/* ----------------------Navbar style--------------------*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    /* position: sticky; */
}

.navbar a{
    color: whitesmoke;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: larger;
    text-align: center;
    white-space: nowrap;
    padding: 5px;
}

.navbar a:hover{
    background-color: rgb(200, 16, 46);
    border-radius: 0.5rem;  
}

/* ----------------------Footer style-------------------------*/
footer{
    background-color: rgb(26,26,26);
    height: 10dvh;
    display: flex;
    justify-content: space-between;
    
    a {
        text-decoration: none;
        font-size: large;
        color: lightgray;
        padding: 3px;
    }
    a:hover{
        background-color: rgb(200, 16, 46);
        border-radius: 0.5rem;  
    }
    .footerlinks{
        display: flex;
        flex-direction: column;
        margin-top: 5px;
        margin-left: 8px;
    }

    p{
        color: lightgrey;
        text-align: center;
    }
}

/* ------------------main content style------------------ */

main{
    height: 80dvh;
}